<div class='control-group'>
  <%= p.phone_numbers.first.label :label, :class => 'control-label' %>
  <div class='controls'>
    <%= p.phone_numbers.first.text_field :label %>
  </div>
  <%= p.phone_numbers.first.label :info, :class => 'control-label' %>
  <div class='controls'>
    <%= p.phone_numbers.first.text_field :info %>
  </div>
</div>
