<table class="table table-striped" name="people_table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Occupation</th>
    </tr>
  </thead>
  <tbody>
  <% people.each_with_index do |person, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to person.name, person_path(person) %></td>
      <td><%= person.occupation %></td>
    </tr>
  <% end %>
  </tbody>
</table>
