<div class='fields'>
  <div class='control-group'>
    <%= f.select :label, { 'Business' => 'Business',
                           'Home' => 'Home',
                           'Mobile' => 'Mobile',
                           'Other' => 'Other' }, {}, { :class => 'control-label' } %>
    <div class='controls'>
      <%= f.text_field :address %>
      <%= link_to_remove_fields "x", f %>
    </div>
  </div>
</div>
