<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/contacts">Inner City Advisors</a>
      <form class="navbar-search" action="/contacts" method="get">
        <input type="text" class="search-query span3" name="search" placeholder="Search" />
      </form>
      <ul class="nav pull-right">
        <li><a href="#">About</a></li>
        <li class="divider-vertical"></li>
        <li><a href="#">Log In</a></li>
      </ul>
    </div><!-- .container -->
  </div><!-- .navbar-inner -->
</div><!-- .navbar -->
