<div class='navbar'>
  <div class='navbar-inner'>
    <div class='container'>
      <%= link_to 'Inner City Advisors', root_path, :class => 'brand' %>
      <%= form_tag people_path, :method => :get, :class => 'navbar-search' do %>
        <%= text_field_tag 'search', nil,  :class => 'search-query span3' %>
        <%= submit_tag 'Search', :class => "btn", :id => 'Search'  %>
      <% end %>
      <ul class='nav pull-right'>
        <li><a href='#'>About</a></li>
        <li class='divider-vertical'></li>
        <li><a href='#'>Log In</a></li>
      </ul>
    </div><!-- .container -->
  </div><!-- .navbar-inner -->
</div><!-- .navbar -->
