<h1>Searching for "<%= @search_term %>"</h1>
<%#= render :partial => "tables", :locals => { :individuals => @individuals,
                                              :board_members => @board_members,
                                              :advisors => @advisors,
                                              :education_companies => @education_companies,
                                              :portfolio_companies => @portfolio_companies,
                                              :professional_service_providers => @professional_service_providers } %>
<%= render :partial => "tables" %>
