<div class='fields'>
  <div class='control-group'>
    <%= f.text_field :subject, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_area :body, :rows => 3 %>
      <%= link_to_remove_fields "x", f %>
    </div>
  </div>
</div>
