<h1>Welcome!</h1>
<p>Search for contacts by name above.</p>
<p><%= link_to 'Or click here', new_person_path %> to create a new person</p>
<p><%= link_to 'Or click here', new_company_path %> to create a new company </p>
<p><%= link_to 'Or click here', upload_page_path %> to upload a CSV file with contact information</p>
<p><%= link_to 'Or click here', search_path %> to go to the list of everything</p>
